{{!-- <h1>{{#if sonVarios}}Detalles de los carritos{{else}}Detalles del carrito{{/if}}</h1>
<h1>hola es este</h1>
<h2>{{carts._id}}</h2>

{{#each carts}}
    <h2>ID del carrito: {{this._id}}</h2>
    <ul>
        {{#each this.listProducts}}
            <li>
                <p>ID del producto: {{this.productId}}</p>
                <p>Cantidad: {{this.cantidad}}</p>
            </li>
        {{/each}}
    </ul>
{{/each}}

<button id="finalizarCompra" data-cart-id="{{cartId}}">Realizar compra</button>
<script src="/js/finalizarCompra.js"></script> --}}



<a href="token/">reestablecer</a>


<h1>{{#if sonVarios}}Detalles de los carritos
    {{else}}Detalles del carrito{{/if}}</h1>

    {{#each carts}}
    <h2>{{carts}}</h2>
        <h2>ID del carrito: {{this._id}}</h2>
        <ul>
            {{#each this.listProducts}}
                <li>
                    <p>ID del producto: {{this.productId._id}}</p>
                    <p>Nombre del producto: {{this.productId.title}}</p>
                    <p>Descripción del producto: {{this.productId.description}}</p>
                    <p>Precio del producto: {{this.productId.price}}</p>
                    <p>Imagen del producto: {{this.productId.thumbnail}}</p>
                    <p>Código del producto: {{this.productId.code}}</p>
                    <p>Stock del producto: {{this.productId.stock}}</p>
                    <p>Cantidad: {{this.cantidad}}</p>
                </li>
            {{/each}}
        </ul>
    {{/each}}


<button id="finalizarCompra" data-cart-id="{{cartId}}">Realizar compra</button>
<script src="/js/finalizarCompra.js"></script> 
