<div class="container mt-5">
    <h1>Detalles del carrito</h1>
    <div class="card mt-3">
        <div class="card-body">
            <ul class="list-group">
                {{#each cart.listProducts}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="/uploads/products/{{this.productId.thumbnail}}" alt="{{this.productId.title}}" class="img-thumbnail">
                        </div>
                        <div class="col-md-8">
                            <p>{{this.productId.title}}</p>
                            <p>{{this.productId.description}}</p>
                            <p>${{this.productId.price}}</p>
                            <p>SKU: {{this.productId.code}}</p>
                            <p>Cantidad: {{this.cantidad}}</p>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-danger btnEliminarProductoDelCarrito" data-product-id="{{this.productId._id}}">Eliminar</button>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container mt-3">
    <button id="finalizarCompra" data-cart-id="{{cart._id}}" class="btn btn-success">Realizar compra</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/agregarAlCarrito.js"></script>
<script src="/js/finalizarCompra.js"></script>
