{{!-- <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="card mb-4">
            <div class="card-header">
                <h3 class="text-center">Orden de Compra - {{order.code}}</h3>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        <strong>ID de Orden:</strong> {{order._id}}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <strong>Fecha y Hora de Compra:</strong> {{order.purchase_dateTime}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>Comprador:</strong> {{order.purchaser}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Productos:</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each listProducts}}
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="/uploads/products/{{this.productId.thumbnail}}" alt="img" class="img-fluid mr-2" style="max-height: 40px;">{{this.productId.title}}
                                        </div>
                                    </td>
                                    <td>{{this.cantidad}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <h4>Monto Total: {{order.amount}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>--}}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="card mb-4">
            <div class="card-header">
                <h3 class="text-center">Orden de Compra - {{order.code}}</h3>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        <strong>ID de Orden:</strong> {{order._id}}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <strong>Fecha y Hora de Compra:</strong> {{order.purchase_dateTime}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>Comprador:</strong> {{order.purchaser}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Productos:</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each order.listProducts}} <!-- Cambio aquí -->
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="/uploads/products/{{this.productId.thumbnail}}" alt="img" class="img-fluid mr-2" style="max-height: 40px;">{{this.productId.title}}
                                        </div>
                                    </td>
                                    <td>{{this.cantidad}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


