<div class="container mt-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="mis-datos-tab" data-bs-toggle="tab" href="#mis-datos" role="tab" aria-controls="mis-datos" aria-selected="true">Mis Datos</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="mis-compras-tab" data-bs-toggle="tab" href="#mis-compras" role="tab" aria-controls="mis-compras" aria-selected="false">Mis Compras</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="mis-datos" role="tabpanel" aria-labelledby="mis-datos-tab">
      <div class="container mt-5">
        <div class="row">
          <div class="col">
            <h1>{{user.firstName}} - {{user.lastName}}</h1>
            <p>Email: {{user.email}}</p>
            <p>Edad: {{user.age}}</p>
            <p>Rol: {{user.rol}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="mis-compras" role="tabpanel" aria-labelledby="mis-compras-tab">
    <div class="container mt-5">
      <div class="row justify-content-center">
        {{#each orders}}
          <div class="card mb-4">
            <div class="card-header">
              <h3 class="text-center">Orden de Compra - {{code}}</h3>
            </div>
            <div class="card-body">
              <div class="row mb-3">
                <div class="col">
                  <h5>ID de Orden: {{_id}}</h5> 
                </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <h5>Fecha y Hora de Compra: {{purchase_dateTime}}</h5> 
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h5>Productos:</h5>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Producto</th>
                          <th>Cantidad</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each listProducts}}
                          <tr>
                            <td>
                              <div class="d-flex align-items-center">
                                <img src="/uploads/products/{{this.productId.thumbnail}}" alt="img" class="img-fluid mr-2" style="max-height: 60px;">{{this.productId.title}}
                              </div>
                            </td>
                            <td>{{this.cantidad}}</td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="text-right">
                  <h4>Monto Total: {{amount}}</h4>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>