<div class="container mt-5">
    <h1 class="mt-5">Productos</h1>
    {{#if hayProductos}}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {{#each productos.docs}}
                <div class="col mb-4">
                    <div class="card h-100">
                        <a href="/products/detail/{{this._id}}">
                            <img src="/uploads/products/{{this.thumbnail}}" class="card-img-top" alt="Producto">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">{{this.title}}</h4>
                            <h4 class="card-title">{{this.price}}</h4>
                            <p class="card-text">SKU: {{this.code}}</p>
                            <p class="card-text">stock: {{this.stock}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="divPaginate mt-4">
        {{#if productos.hasPrevPage}}
            <button type="button" class="btn btn-outline-primary">
                <a href="/products?page={{productos.prevPage}}&{{query}}" class="text-decoration-none text-reset">Anterior</a>
            </button>
        {{/if}}
        {{#if productos.hasNextPage}}
            <button type="button" class="btn btn-outline-primary">
                <a href="/products?page={{productos.nextPage}}&{{query}}" class="text-decoration-none text-reset">Siguiente</a>
            </button>
        {{/if}}
    </div>
    {{else}}
        <h2 class="mt-5">No hay productos</h2>
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="/js/agregarAlCarrito.js"></script>
<script src="/js/editarProducto.js"></script>
