<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h1>{{user.firstName}} - {{user.lastName}}</h1>
            <p>Email: {{user.email}}</p>
            <p>Edad: {{user.age}}</p>
            <p>Rol: {{user.rol}}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col">
            {{#if user.status}}
                <a href="/profile">
                    <button type="button" class="btn btn-success">Pasate a Premium</button>
                </a>
            {{else}}
            <h1>Pasate a premium ingresando los siguientes datos</h1>
            <div style="max-width: 600px; margin: 50px auto;">
                    <form action="/api/users/{{user._id}}/documents" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="type" value="documents">
                        {{#unless identificacion}}
                            <div class="mb-3">
                                <label for="identificacion" class="form-label">Identificación:</label>
                                <input type="file" name="identificacion" id="identificacion" class="form-control">
                            </div>
                        {{/unless}}
                        {{#unless domicilio}}
                            <div class="mb-3">
                                <label for="domicilio" class="form-label">Comprobante de Domicilio:</label>
                                <input type="file" name="domicilio" id="domicilio" class="form-control">
                            </div>
                        {{/unless}}
                        {{#unless estadoDeCuenta}}
                            <div class="mb-3">
                                <label for="estadoDeCuenta" class="form-label">Comprobante de Estado de Cuenta:</label>
                                <input type="file" name="estadoDeCuenta" id="estadoDeCuenta" class="form-control">
                            </div>
                        {{/unless}}
                        <button type="submit" class="btn btn-primary">Subir Imágenes</button>
                    </form>
                {{/if}}
            </div>
        </div>
    </div>
</div>
